@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.hero{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(240, 27%, 19%, 0.5), hsla(245, 39%, 28%, 0.5), hsla(246, 55%, 10%, 0.5)), url(../web-librerias/img/city-portada.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(240, 27%, 19%, 0.5), hsla(245, 39%, 28%, 0.5), hsla(246, 55%, 10%, 0.5)), url(../web-librerias/img/city-portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas: 'nav' 'content';
    min-height: 100vh;
}

.nav{
    grid-area: nav;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    gap: 1em;
    align-items: center;
    height: 90px;
}

.nav__list{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
}

.nav__link{
    color: #fff;
    text-decoration: none;
}

.nav__link:hover{
    text-decoration: overline;
    color: #005AA7;
}

.nav__logo{
    font-size: 1.8rem;
    font-weight: 300;
}

.nav__menu{
    display: none;
}

.nav__icon{
    width: 30px;
}

.hero__main{
    grid-area: content;
    text-align: center;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    padding-bottom: 180px;
    align-items: center;
}

.hero__waves{
    grid-area: content;
    align-self: flex-end;
}

.hero__title{
    font-size: 2.6rem;
    letter-spacing: 2px;
}

.hero__subtitle{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.hero__cta{
    text-decoration: none;
    color: #fff;
    padding: 15px 60px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    transition: background-color .3s;
}

.hero__cta:hover{
    background: #fff;
    color: #1e3c72;
}

/*
.menu-item{
    font-size: 18px;
    margin-left: 2rem;
    cursor: pointer;
}

.hamburger{
    height: 20px;
    width: 30px;
    position: relative;
    display: none;
    cursor: pointer;
}

.line{
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.line:nth-of-type(1){
    top: 0;
    transform: translateY(0);
}

.line:nth-of-type(3){
    top: auto;
    bottom: 0;
    transform: translateY(0);
}

.menu-movil{
    position: absolute;
    top: 80px;
    left: 0;
    transform: translateX(-100%);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    background-color: #1a1a1a;
    color: white;
    transition: 1s;
}

.open{
    transition: 0.5s;
    transform: translateX(0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu-movil .menu-item{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgb(46, 46, 46);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
    padding-left: 30px;
    box-sizing: border-box;
}

.menu-movil a{
    text-decoration: none;
    color: white;
}

.menu-movil .menu-item:hover{
    background-color: rgb(46, 46, 46);
}*/

.Video__games{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container__two{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    text-align: center;
    z-index: 10000;
}

.caja__videoGames{
    padding: 30px 10px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.img__videoGames{
    width: 100px;
    margin-top: 5px;
}

.link__Vermas{
    color: #fff;
    background-color: green;
    text-decoration: none;
    padding: 16px 50px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
}

.link__Vermas:hover{
    color: blue;
    background-color: white;
}

.title__City{
    width: 100%;
    height: auto;
    text-align: center;
}

.container__city{
    width: 100%;
    height: auto;
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(208, 100%, 33%, 0.5), hsla(208, 100%, 33%, 0.5)), url(../web-librerias/img/neon.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(208, 100%, 33%, 0.5), hsla(208, 100%, 33%, 0.5)), url(../web-librerias/img/neon.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.city{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.box__city{
    padding: 15px 50px;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: white;
    color: white;
}

.text__city{
    color: black;
}

.img__city{
    width: 500px;
}

.city__name{
    color: black;
}

.footer__one{
    width: 100%;
    height: auto;
    background-color: #1f1f1f;
    display: flex;
    gap: 1rem;
}

.footer__info{
    padding: 5px 15px;
    border: 1px solid;
    display: inline-block;
    font-weight: 500;
    color: white;
}

.txt__footer{
    font-size: 15px;
    color: white;
}

.redes__sociales{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #1f1f1f;
}

.Derechos{
    text-align: center;
    background-color: #1f1f1f;
}

.Derechos p{
    color: white;
}

.img__footer{
    width: 40px;
    margin-top: 5px;
    cursor: pointer;
}

/*RESPONSIVE*/

@media screen and (max-width: 800px) {
    .nav__list{
        display: none;
    }

    .nav__menu{
        display: block;
    }

    .hero__main{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        text-align: center;
    }

    .title__City{
        width: 100%;
        height: auto;
        text-align: center;
    }

    .container__city{
        width: 100%;
        height: auto;
        background: #005AA7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(208, 100%, 33%, 0.5), hsla(208, 100%, 33%, 0.5)), url(../web-librerias/img/neon.jpg);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(208, 100%, 33%, 0.5), hsla(208, 100%, 33%, 0.5)), url(../web-librerias/img/neon.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .nav{
        grid-area: nav;
        display: grid;
        justify-content: space-around;
        grid-auto-flow: column;
        gap: 1em;
        align-items: center;
        height: 90px;
    }
    
    .nav__list{
        list-style: none;
        display: grid;
        grid-auto-flow: column;
        gap: 1em;
    }
    
    .nav__link{
        color: #fff;
        text-decoration: none;
    }
    
    .nav__link:hover{
        text-decoration: overline;
        color: #005AA7;
    }
    /*
    ul{
        display: none;
    }

    .hamburger{
        display: block;
    }*/

    .nav__logo{
        display: none;
    }


    .city{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    
    .box__city{
        padding: 5px 30px;
        border: 1px solid;
        border-radius: 6px;
        display: inline-block;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        background-color: white;
        color: white;
    }

    .text__city{
        color: black;
    }

    .img__city{
        width: 180px;
    }

    .footer__one{
        width: 100%;
        height: auto;
        background-color: #1f1f1f;
        display: block;
    }

    .footer__info{
        padding: 5px 15px;
        border: 1px solid;
        display: inline-block;
        font-weight: 500;
        color: white;
        margin-top: 5px;
    }
    
    .txt__footer{
        font-size: 15px;
        color: white;
    }
    
    .redes__sociales{
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #1f1f1f;
    }
    
    .img__footer{
        width: 40px;
        margin-top: 5px;
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    .nav__link{
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }
}

@media screen and (max-width: 300px) {
    .nav__link{
        color: #fff;
        text-decoration: none;
        font-size: 10px;
    }
}

@media screen and (max-width: 1060px) {

    .Video__games{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container__two{
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: block;
        text-align: center;
        z-index: 10000;
    }

    .caja__videoGames{
        padding: 10px 50px;
        border: 1px solid;
        border-radius: 6px;
        display: inline-block;
        font-weight: 500;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }

    .img__videoGames{
        width: 100px;
        margin-top: 5px;
    }

    .link__Vermas{
        width: 100%;
        display: block;
        color: #fff;
        background-color: green;
        text-decoration: none;
        padding: 12px 20px;
        border: 1px solid;
        border-radius: 6px;
        display: inline-block;
        font-weight: 500;
    }

    .link__Vermas:hover{
        color: blue;
        background-color: white;
    }
}